<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Hello!  This is Joyce from Hong Kong.  I am a web developer based in Tokyo.  I came to Japan in 2009 and have been living here ever since.  In my free time, I enjoy outdoor activities.  Actually, I'm an avid surfer!  I go surfing whenever possible.</p>
      </div>
    </div>
  </div>
</div>
