<div class="row justify-content-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main m-3 text-center">About me</h1>
    <div class="card p-3 border-2 rounded-4 border-light-subtle m-auto text-center" style="width: 50rem;">
      <p class="p-2">Hello!  This is Joyce from Hong Kong.  I am a <b>full-stack web developer</b> now based in Tokyo with a focus on <b>Ruby</b> and the <b>Ruby on Rails</b> framework.  I came to Japan in 2009 and have been living here ever since.  In my free time, I enjoy outdoor activities.  Actually, I'm an avid surfer!  I go surfing whenever possible.</p>
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
