<div class="row justify-content-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main m-3 text-center">About me</h1>
    <div class="card p-3 border-2 rounded-4 border-light-subtle m-auto text-center" style="width: 50rem;">
      <p class="p-2">Originally from Hong Kong, I've been based in Tokyo since 2010.  I am a full-stack web developer with a focus on <b>Ruby</b> and the <b>Ruby on Rails</b> framework.
      <br><br>Currently, I'm managing a stock management/ invoice-creating web application for a Hong Kong-based ceramist, while spending my time working on <b>React</b>.</p>
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
