<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="background-layer"></div>
    <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Welcome to my Portfolio</h1>
    <div id="about">
      <h2>About</h2>
      <p>Hello!  This is Joyce from Hong Kong.  I am a web developer based in Tokyo with a focus on Ruby and the Ruby on Rails framework.  I came to Japan in 2009 and have been living here ever since.  In my free time, I enjoy outdoor activities.  Actually, I'm an avid surfer!  I go surfing whenever possible.</p>
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
