<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fs-5 me-2" href="#">Main</a>
        <a class="nav-link fs-5 me-2" href="#section-1">Tech stack</a>
        <a class="nav-link fs-5 me-2" href="#section-2">Projects</a>
        <a class="nav-link fs-5 me-2" href="#section-3">Video</a>
      </div>
    </div>
  </div>
</nav>
