<div id="section-1" class="row my-5">
  <div class="col-12">
    <div class="container">
      <h1 class="title-main m-3 text-center">My tech stack</h1>
      <div class="card p-3 border-2 rounded-4 border-light-subtle m-auto text-center" style="width: 50rem;">
        <div class="row row-cols-5 align-items-center">
          <div class="col p-3"><i class="devicon-ruby-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-rails-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-html5-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-css3-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-javascript-plain colored"></i></div>
          <div class="col p-3"><i class="devicon-bootstrap-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-git-plain-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-github-original colored"></i></div>
          <div class="col p-3"><i class="devicon-figma-plain colored"></i></div>
          <div class="col p-3"><i class="devicon-heroku-original-wordmark colored"></i></div>
          <div class="col p-3"><i class="devicon-react-original-wordmark colored"></i></div>
          <div class="col p-3">
            <i class="devicon-materialui-plain colored"></i>
          </div>
          <div class="col p-3">
            <i class="devicon-postgresql-plain-wordmark colored"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
