<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <h2 class="title-main">My tech stack</h2>
      <div class="about">
        <div class="row row-cols-4">
          <div class="col">
            <p><i class="devicon-ruby-plain-wordmark"></i> Ruby</p>
            <p><i class="devicon-rails-plain-wordmark"></i> Ruby on Rails</p>
            <p><i class="devicon-html5-plain-wordmark"></i> HTML</p>
          </div>
          <div class="col">
            <p><i class="devicon-css3-plain-wordmark"></i> CSS</p>
            <p><i class="devicon-javascript-plain"></i> JavaScript</p>
            <p><i class="devicon-bootstrap-plain-wordmark"></i> Bootstrap</p>
          </div>
          <div class="col">
            <p><i class="devicon-git-plain-wordmark"></i> Git</p>
            <p><i class="devicon-github-original"></i> Github</p>
            <p><i class="devicon-figma-plain"></i> Figma</p>
          </div>
          <div class="col">
            <p><i class="devicon-heroku-original-wordmark"></i> Heroku</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
